@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LaSignora";
  src: url(LaSignoraDemoVersionRegular-X3jp9.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #48435c;
}

h1 {
  letter-spacing: 2px;
  font-family: "DM Serif Text", serif;
  color: white;
  text-align: center;
}

h2 {
  font-family: "LaSignora";
  margin-bottom: 20px;
  text-align: center;
  font-size: 40px;
  text-shadow: 1px 2px black;
  color: #f4d06f;
  letter-spacing: 2px;
}

h3 {
  font-family: "DM Serif Text", serif;
  letter-spacing: 2px;
  color: #eeeeee;
  text-shadow: 1px 2px rgb(0, 0, 0);
}

h4 {
  font-family: "DM Serif Text", serif;
  color: white;
  text-shadow: 1px 2px rgb(41, 41, 41);
  font-size: 15px;
  letter-spacing: 1px;
  text-align: center;
  display: none;
  margin-top: 5px;
  margin-bottom: 10px;
}

#date-time {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "DM Serif Text", serif;
  color: #f4d06f;
  text-shadow: 1px 2px rgb(41, 41, 41);
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 20px;
}
#date-time h3 {
  margin-right: 10px;
}

.topnav {
  background-color: #333;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Cards Container */
#cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Allows wrapping if screen is too small */
  margin-top: 20px;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Move up */
  }
  100% {
    transform: translateY(0); /* Back to original position */
  }
}

.card-display {
  perspective: 1000px; /* Provides 3D perspective */
  margin: 20px;
}

.flip-card-container {
  width: 170px;
  height: 290px;
  perspective: 1000px;
  border: 20px;
  border-width: 10px;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
}

/* .flip-card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s;
} */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Move up */
  }
  100% {
    transform: translateY(0); /* Back to original position */
  }
}

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.flip-card.flip .flip-card-front {
  transform: rotateY(180deg);
}

.flip-card.flip .flip-card-back {
  transform: rotateY(0deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  flex-direction: column;
}

.flip-card-front {
  width: auto;
  height: auto;
  justify-content: center;
}

.flip-card-back {
  background-color: beige;
  color: aliceblue;
  margin-left: 20px;
  transform: rotateY(180deg);
  justify-content: center;
  align-self: center;
  align-items: center;
}


.card-display h2 {
  display: none; 
}


button {
  margin-bottom: 10px;
}

#button-wrapper {
  font-family: "DM Serif Text", serif;
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

#button-wrapper :hover {
  background-color: #f4d06f;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.star {
  position: absolute;
  z-index: -10;
  border-radius: 50%;
  top: -20px;
  color: #f6e7bd;
  animation: fadeOut 5s ease-out;
  /* you can set infinite too */
}

.star::before {
  content: "\f005";
  font-family: FontAwesome;
  text-shadow:
    0 0 5px #f4d06f,
    0 0 20px #fff,
    0 0 50px #fff;
}

@media (max-width: 768px) {
  #display-box {
    width: 100%;
    padding: 10px;
  }
  h1,
  h2,
  h4 {
    font-size: 1.5rem;
  }
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 600px) {
  .star {
    font-size: 8px;
  }
}
